<ion-content [fullscreen]="true" slot="fixed">

      <div  class="map-container" #mapDiv>
      </div>

      <div id="map" class="data-container">
        <ion-toolbar class="black-gradient-top">

          <ion-item lines="none">
            <ion-buttons slot="start">
              <ion-back-button defaultHref="/explore" text=""></ion-back-button>
            </ion-buttons>
            <ion-label>
              <!-- 
              <h2 style="color: black;">Map</h2>
              <p style="color: black;">Here you can find the species</p>
              -->
            </ion-label>

          </ion-item>
        </ion-toolbar>
        <div class="middle-container"></div>
        <div class="comments-container black-gradient-bottom">
          <div class="ion-padding comments">

          </div>

        </div>
      </div>
</ion-content>
