<ion-content [fullscreen]="true">

  <div class="container">

    <ion-grid class="ion-padding-horizontal background-opts" [ngStyle]="background">
      <ion-row class="ion-padding-vertical">
        <ion-col size="9" class="ion-padding-vertical">

        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="ion-padding white">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <ion-header class="ion-no-border">
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button defaultHref="/explore" class="back-btn">
                  <ion-icon
                    slot="icon-only"
                    name="arrow-back-outline"
                  ></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-horizontal">
        <ion-col size="9" class="ion-padding-vertical">
          <h1 class="title ion-no-padding ion-no-margin">Welcome to H³ Social</h1>
          <ion-text color="light">Choose a option to continue</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-horizontal">
        <ion-col class="ion-text-center">
        <ion-button class="action-button gradient-button ion-margin-top" expand="block" fill="solid" (click)="goToLogin()">
          <ion-icon name="mail" class="ion-padding-end"></ion-icon>
          <span>Continue with email</span>
        </ion-button>
        <ion-button class="action-button ion-margin-top" expand="block" fill="outline" color="medium">
          <ion-icon name="logo-google" class="ion-padding-end" (click)="goToProfile()"></ion-icon>
          <span>Continue with Google</span>
        </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-horizontal">
        <ion-col class="ion-text-center">
          <ion-text color="medium">OR</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-horizontal">
        <ion-col class="ion-padding-bottom">
          <ion-button class="action-button ion-margin-top" expand="block" fill="outline" color="medium" (click)="goToRegister()">
            <ion-icon name="person-add" class="ion-padding-end"></ion-icon>
            <span>Create an account</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
