<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid
      class="ion-padding-horizontal background-opts"
      [ngStyle]="background"
    >
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <ion-header class="ion-no-border">
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="goBack()" class="back-btn">
                  <ion-icon
                    slot="icon-only"
                    name="arrow-back-outline"
                  ></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="ion-padding white">
      <ion-row class="ion-padding-horizontal">
        <ion-col class="ion-padding-vertical">
          <h1 class="title ion-no-padding ion-no-margin">Sign Up</h1>
          <ion-text color="light">Provide your information to continue</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-horizontal">
        <ion-col class="">
          <form [formGroup]="registerForm" (ngSubmit)="signUp()">
            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="input-label" position="stacked"
                >Email Address</ion-label
              >
              <ion-input
                type="email"
                formControlName="email"
                placeholder="Type your email address"
              ></ion-input>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="input-label" position="stacked"
                >Complete Name</ion-label
              >
              <ion-input
                type="text"
                formControlName="name"
                placeholder="Type your complete name"
              ></ion-input>
            </ion-item>
            <ion-item lines="none" class="ion-no-padding">
              <ion-label class="input-label" position="stacked"
                >Password</ion-label
              >
              <ion-input
                type="password"
                formControlName="password"
                placeholder="Type your password"
              ></ion-input>
            </ion-item>
            <div class="ion-padding-vertical">
              <ion-button
                [disabled]="registerForm.invalid"
                class="action-button gradient-button"
                expand="block"
                fill="solid"
                type="submit"
              >
                <span>Create account</span>
              </ion-button>
            </div>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
